<div id="logo">
  <%= link_to image_tag("logo.png"), root_path %>
</div>

<section>
  <div class="map">
    <%= render "video_sort_options" %>
    <div id="world-map"></div>
    <div class="selected-item">
      <div class="top-items">
        <%= link_to content_tag(:span, "&rang;".html_safe), "#", :class => "arrow show-videos" %>
        <%= link_to content_tag(:span, "&lang;".html_safe), "#", :class => "arrow hide-videos hidden" %>
        <ul class="video-thumbnails"> 
        </ul>
        <ul>
          <li class="fetch-videos"><%= link_to "more videos" , "#" %></li>
        </ul>
      </div>
      <iframe id='ytplayer' type='text/html' 
              width='415' height='253' 
              src='' frameborder='0'>
      </iframe>
    </div>
  </div>
</section>

