<div id="logo">
  <%= link_to image_tag("fb-icon.png"), root_path %>
</div>

<div id="title">
  <%= link_to image_tag("logo.png"), root_path %>
</div>

<section>
  <div class="map">
    <%= render "video_sort_options" %>
    <div id="world-map"></div>
    <div class="selected-item">
      <div class="top-items">
        <%= link_to content_tag(:span, "&rang;".html_safe), "#", :class => "arrow show-videos" %>
        <%= link_to content_tag(:span, "&lang;".html_safe), "#", :class => "arrow hide-videos hidden" %>
        <ul class="video-thumbnails">
          <li class="list-title">Top videos:</li>
        </ul>
        <ul>
          <li class="fetch-videos"><%= link_to "more videos" , "#" %></li>
        </ul>
      </div>
      <iframe id='ytplayer' type='text/html' 
              width='415' height='253' 
              src='' frameborder='0'>
      </iframe>
    </div>
  </div>
</section>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39693830-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
