<!DOCTYPE html>
<html>
  <head>
    <title>MapTu.be: Explore the World's Videos with a Map</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
  </head>
  <body>
    <div id="page">
      <%= yield %>
    </div>
    <footer>
      <span class='signature'>
        Made with wonder in San Francisco by 
          <%= link_to "Alyssa", "https://github.com/alyraz", :target => "_blank" %>,
          <%= link_to "Eno", "https://github.com/enocom", :target => "_blank" %>,
          <%= link_to "Mary", "https://github.com/marybethlee", :target => "_blank" %>, and
          <%= link_to "Ryan", "https://github.com/rloomba", :target => "_blank" %>.
      </span>
      <span class='social-buttons'>
        <%= render 'social_buttons' %>
      </span>
    </footer>
  </body>
</html>
